@page "/questions"
@using Newtonsoft.Json
@using OriginalNewQuestionsPage.Components

<PageTitle>Issue Token</PageTitle>

@{
    <h1>Blazor Quiz</h1>

    @if (questionIndex < response.Count())
    {
        <h2> @response[questionIndex].Question</h2>
        @foreach (var item in response[questionIndex].Answers)
        {
            <OptionCard Option="@item" OnOptionSelected="OptionSelected"></OptionCard>
        }
    }
    else
    {
        <div class="app-title">
            @if (score > (response.Count / 2))
            {
                <img src="https://img.icons8.com/ios/100/000000/prize--v1.png" />
            }
            else
            {
                <img src="https://img.icons8.com/color/96/000000/lose.png" />
            }
        </div>
        <div class="app-title">
            @(score > (response.Count() / 2) ? "Congratulation" : "Better Luck Next Time")
        </div>
        <div class="quiz-header">
            <b>You scored @score points!</b>
        </div>
    }




   

}